@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');
@import url("cv1.css");
@import url("cv2.css");
@import url("cv3.css");
@import url("cv4.css");
@import url("cv5.css");
@import url("cv6.css");
body {
  top: 0 !important;
  background-color: #fafcff;
}
:root{
  --purple-color: #7b00ff;
  --blue-color: #00caf7;
  --main-title-color: #1b1a19;
  --main-text-color: #2c2c2d;
  --main-white-color: #f1f1f1;
  --main-light-color: #979798;
  --form-bg-color: #fff;
  --body-bg: #fff;
}
body[light-mode="dark"]{
  --body-bg: #111827;
  background: #fafcff !important;
}
.cv-area {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--body-bg);
  padding: 20px 0;
}
.cv-box {
  --cv-background: #fff;
  --main-color: #d5885e;
  --second-color: #e7c4af;
  --title-color: #1b1a19;
  --text-color: #2c2c2d;
  --white-color: #fff;
  --light-color: #979798;
  font-family: var(--font);
  position: relative;
  background-color: var(--cv-background);
  max-width: 810px;
  margin: auto;
  min-width: 800px;
  box-shadow: 0 5px 50px rgba(32, 32, 32, 0.13);
}
.cv-body{
  position: relative;
  background-color: var(--cv-background);
}
.cv-left, .cv-right {
  height: 100%;
}
.cv-person{
  position: relative;
}
.cv-side {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
  height: 100vh;
  padding: 150px 15px 0 15px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.55);
  z-index: 99;
  transition: all 0.25s ease;
}
.cv-side::-webkit-scrollbar {
  width: 3px;
}
.cv-side::-webkit-scrollbar-thumb {
  background: #e1e1e1;
}
.side-label {
  position: fixed;
  left: 250px;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8px;
  background: #fff;
  color: #000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.25s ease;
  z-index: 10;
}
.color-picker {
  position: fixed;
  width: 220px;
  left: 0;
  top: 0;
  background-color: #fff;
  border-bottom: 2px solid #f5f5f5;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  z-index: 9;
  transition: all 0.25s ease;
}
.color-label {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  cursor: pointer;
  background: #f5f5f5;
  color: transparent;
  display: grid;
  place-items: center;
  font-size: 13px;
  z-index: 9;
}
.print_btn {
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 50%;
  background-color: #f5f5f5;
  color: #000;
  font-size: 15px;
  display: block;
  text-align: center;
}
.layout-picker {
  margin-top: 40px;
}
.layout-picker.dark {
  display: none;
}
.layout-label {
  position: relative;
  display: block;
  width: 100%;
  height: 250px;
  margin: 0 auto 25px auto;
  overflow: hidden;
  cursor: pointer;
  border: 3px solid #f5f5f5;
}
.layout-label.active {
  border-color: #c8c8c8;
}
.layout-label img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 8;
}
.view-cv {
  display: none;
  position: relative;
  transition: all 0.25s ease;
}
.view-cv.active{
  display: block;
}
.font-picker {
  position: fixed;
  width: 220px;
  left: 0;
  top: 80px;
  background-color: #fff;
  border-bottom: 2px solid #f5f5f5;
  padding: 10px;
  z-index: 9;
  transition: all 0.25s;
}
.font-select-label {
  background: #f5f5f5;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  padding: 5px 12px;
}
.font-select-label i {
  position: relative;
  transform: rotate(180deg);
  color: #767676d1;
  font-size: 11px;
  float: right;
  top:3px;
  transition: all 0.25s;
}
.font-select-list {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 50px;
  margin: 0 auto;
  overflow-y: auto;
  max-height: 200px;
  padding: 10px 15px;
  background: #fff;
  border-radius: .5rem;
  box-shadow: 0 5px 15px rgba(129, 129, 129, 0.13);;
  display: none;
  border: 2px solid #f5f5f5;
  transition: all 0.25s;
  z-index: 99999;
}
.font-label {
  margin: 4px 2px;
  padding: 3px 8px;
  border: 2px solid #f5f5f5;
  font-size: 12px;
  color: #000;
  cursor: pointer;
  border-radius: 8px;
}
.font-label.active{
  background-color: #f5f5f5;
}
.dark-mode-check{
  position: fixed;
  top:0;
  width: 100%;
  z-index:99;
}
.dark-mode-check .dark-mode-label {
  background-color: #161E2D !important;
  width: 56px;
  height: 28px;
  border-radius: 50px;
  position: relative;
  padding: 5px 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float:right;
  right:25px;
  top:25px;
  z-index:99;
  border:none;
  outline: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.dark-mode-check .ball {
  background-color: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 4px;
  top:3px;
  border-radius: 50%;
  transition: all 0.2s linear;
}
body[light-mode="dark"] .dark-mode-label .ball {
  left: 32px;
  background-color: #f1f1f1;
}
.dark-mode-check i {
  color: #fff;
  font-size: 14px;
}
.formLinkArea{
  transition: all 0.25s ease;
}
.formLinkBox{
  position: relative;
  max-width: 800px;
  min-width: 270px;
  margin: 25px auto;
  padding: 30px 30px;
  text-align: center;
  color:#fff;
  background: linear-gradient(135deg, #00caf7 0%, #7b00ff 25%, #7b00ff 50%, #7b00ff 75%, #00caf7 100%);
  font-family: 'Poppins',sans-serif;
  border-radius: 2rem;
  animation: animate 10s linear infinite;
}
.formLinkBox h1{
  font-weight: 600;
  font-size: 2.5rem;
}
.formLinkBox p{
  font-size: .9rem;
}
.formLinkText{
  display: inline-block;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 1rem;
  text-decoration: none;
}
.formLinkText span{
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(135deg, #00caf7 0%, #7b00ff 25%, #2802ff 50%, #7b00ff 75%, #00caf7 100%);
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  100%{
      background-position: 400%;
  }
}
.copy-input{
  position: relative;
  width: 100%;
  display: block;
  margin: 15px 0;
  padding: 8px 14px;
  border: 2px solid var(--blue-color);
  color: var(--purple-color);
  font-size: 14px;
  border-radius: 8px;
  outline: none;
}
.copy-buttons{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer{
  position: relative;
  margin: 50 0 25px 0;
  width: 100%;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 13px;
  background: transparent;
  z-index: 9;
}
.footer p{
  color: var(--main-text-color)
}
.footer a{
  text-decoration: none;
  color: var(--purple-color);
}
.footer-links a{
  margin: 0 10px;
  text-decoration: none;
  color: var(--main-text-color);
  transition: all .25s;
}
.footer-links a i,
.footer-links a:hover{
  color: var(--purple-color);
}
.alert{
  font-size: 15px;
}
[contenteditable="true"]{
  border-bottom:1px solid transparent;
  background-color: transparent;
  outline: none !important; 
  transition: all .25s;
}
[contenteditable="true"]:hover,
[contenteditable="true"]:focus{
  outline: none !important;
  border-bottom:1px solid var(--second-color);
}
@media print{
  body{
      background:#fff;
  }
  .drag-handle{
    display: none;
  }
  .cv-area{
      padding: 0;
      background:#fff;
  }
  .cv-side,
  .side-label,
  .dark-mode-check{
      display:none;
  }
  .cv-box{
      left: 0;
      box-shadow:none;
      min-height:100vh;
  }
  .cv-box.cv2 .cv-left,
  .cv-box.cv6 .cv-left{
      min-height: 1148px;
  }
  .view-cv,
  .formLinkArea{
      padding: 0;
  }
  .formLinkBox{
    display: none;
  }
}
/******* Drag Drop Style *****/
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8{
  position: relative;
}
.drag-handle{
  position: absolute;
  cursor: grab;
  z-index: 999;
  font-size: .85rem;
  padding: 3px;
  top: 15px;
}
.drag-handle.light{
  color: var(--white-color);
}
.drag-handle.dark{
  color: var(--light-color);
}
.drag-handle.right{
  right: 0px;
}
.drag-handle.left{
  left: 15px;
}
.drag-handle.handle-row{
  right: 20px;
  top: 2px;
  font-size: .85rem;
  transform: rotate(45deg);
}
.drag-chosen{
  background: var(--main-color);
  border-radius: 8px;
}
.drag-ghost {
  opacity: .5;
  background: var(--second-color);
}
.drag-drop {
  background: var(--second-color);
}
/******* Drag-Drop Bugs ******/
.cv-box.cv2 .cv-right{
  padding-left:40px;
}
.cv-box.cv2 .cv-body .col-4{
  padding-right: 0;
}
.cv-box.cv2 .cv-body .col-8{
  padding-left: 0;
}
.cv-box.cv3 .cv-right{
  padding:  20px 15px;
}

/********** Google Translate *********/
.goog-te-banner-frame.skiptranslate, .goog-te-gadget-simple img{
  display: none !important;
}
.goog-tooltip:hover{
  display: none !important;
}
.goog-text-highlight{
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.skiptranslate.goog-te-gadget span,
.skiptranslate.goog-te-gadget #text{
  display: none !important;
}
.skiptranslate.goog-te-gadget select.goog-te-combo{
  background: #f5f5f5 !important;
  font-family: 'Montserrat', sans-serif !important;
  color: var(--main-text-color) !important;
  cursor: pointer !important;
  font-size: 14px !important;
  padding: 5px 12px !important;
  border: 0;
  outline: 0;
  background: transparent;
  border-image: none;
  outline-offset: -2px;
  border-color: transparent;
  outline-color: transparent;
  box-shadow: none;
  -webkit-appearance: none;
  width: 100% ;
}
.skiptranslate.goog-te-gadget select.goog-te-combo > option{
  color:var(--main-text-color);
  background: #f5f5f5
}
.lang-picker{
  position:relative;
  width: 100%;
  height: 35px;
  overflow: hidden;
  margin: 8px 0 0 0;
}
#googleElementIcon{
  position: absolute;
  right: 11px;
  transform: rotate(180deg);
  color: #767676d1;
  font-size: 11px;
  float: right;
  top: 12px;
  transition: all 0.25s;
}
/********** Responsive **************/
@media screen and (max-width: 825px) {
  .cv-box{
    max-width: 100% !important;
    min-width: 375px;
  }
  body{
    padding: 5px;
  }
  html{
    font-size: 12px;
  }
  .cv-box.cv1 .ch-header{
    height: auto;
  }
  .cv-box.cv1 .cv-img{
    height: 100%;
    width: 100%;
    border-radius: 0;
    right: 0;
    margin:0;
    display: grid;
    place-items: center;
  }
  .cv-box.cv1 .cv-img img{
    width: 100px;
    height: 100px;
  }
  .view-cv .cv-box.cv2 .cv-name{
    font-size: 1.5rem
  }
  .cv-box.cv2 .cv-right{
    padding: 30px 24px;
  }
  .cv-box.cv3 .cv-header{
    grid-template-columns: 150px auto;
    height: 170px;
  }
  .cv-box.cv3 .cv-header .cv-img{
    width: 100%;
    height: 100%;
  }
  .cv-box.cv3 .cv-left{
    padding: 20px 20px;
  }
  .cv-box.cv4 .cv-header{
    grid-template-columns: 150px auto;
    height: 170px;
  }
  .cv-box.cv4 .cv-header .cv-img{
    width: 150px;
    height: 200px;
  }
  .cv-box.cv4 .cv-header .cv-img img{
    width: 110px;
    height: 110px;
  }
  
}
@media screen and (max-width: 768px) {
  .formLinkBox h1{
    font-size: 2rem;
  }
  .formLinkBox p{
    font-size: .8rem;
  }
  .formLinkText a{
    font-size: .9rem;
  }
  .cv-box.cv3 .cv-person .cv-list{
    grid-template-columns: repeat(2,1fr);
  }
  .cv-box.cv6 .cv-left .cv-img{
    width: 120px;
    height: 120px;
  }
  .cv-box.cv6 .cv-name{
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  html{
    font-size: 10px;
  }
  .cv-box.cv1 .cv-body,
  .cv-box.cv1 .cv-person{
    padding: 20px 20px;
  }
  .cv-box.cv1 .cv-img img{
    width: 80px;
    height: 80px;
  }
  .view-cv .cv-box.cv2 .cv-name,
  .view-cv .cv-box .cv-title{
    font-size: 1.2rem
  }
  .cv-box.cv2 .cv-left .cv-img{
    width: 80px;
    height: 80px;
  }
  .cv-box.cv3 .cv-header{
    grid-template-columns: 130px auto;
    height: 150px;
  }
  .cv-box.cv4 .cv-title{
    letter-spacing: 1px;
  }
  .cv-box.cv4 .cv-header{
    grid-template-columns: 100px auto;
    height: 140px;
  }
  .cv-box.cv4 .cv-header .cv-img{
    width: 100px;
    height: 150px;
  }
  .cv-box.cv4 .cv-header .cv-img img{
    width: 90px;
    height: 90px;
  }
  .cv-box.cv4 .cv-header .cv-img::before{
    width: 60px;
  }
  .cv-box.cv4 .cv-person .cv-name,
  .cv-box.cv4 .cv-person .cv-job{
    letter-spacing: 3px;
  }
  .cv-box.cv5 .ch-header{
    padding: 0 25px;
  }
  .cv-box.cv5 .cv-body{
    padding: 20px 25px;
  }
  .cv-box.cv5 .cv-img{
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 500px) {
  html{
    font-size: 8px;
  }
  .cv-box.cv1 .cv-img img{
    width: 55px;
    height: 55px;
  }
  .cv-box.cv1 .cv-name{
    font-size: 2rem;
  }
  .cv-box.cv2 .cv-step-row::before{
    width: 20px;
    height: 20px;
    border-width: 7px;
    left: -9.9px;
  }
  .cv-box.cv2 .cv-right{
    padding: 30px 18px;
  }
  .cv-box.cv3 .cv-header{
    grid-template-columns: 115px auto;
    height: 130px;
  }
  .cv-box.cv4 .cv-header{
    grid-template-columns: 80px auto;
  }
  .cv-box.cv4 .cv-header .cv-img{
    width: 80px;
    height: 150px;
  }
  .cv-box.cv4 .cv-header .cv-img img{
    width: 70px;
    height: 70px;
  }
  .cv-box.cv6 .cv-left .cv-img{
    width: 90px;
    height: 90px;
  }
  .cv-box.cv6 .cv-name{
    font-size: 1.25rem;
  }
  .cv-box.cv6 .cv-job{
    font-size: 1rem;
  }
}
@media screen and (max-width:420px) {
  .cv-box.cv2 .cv-left .cv-img{
    max-width: 100%;
    width: 60px;
    height: 60px;
  }
  .cv-box.cv3 .cv-left{
    padding: 20px 10px;
  }
  .cv-box.cv3 .cv-right{
    padding: 20px 10px;
  }
}